.pie-container{
    background: #fefeff;
    box-shadow: 0px 8px 40px 0px #07070714;
    
    border-radius: 30px;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 30px;
    
}
